* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 .main {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    padding: 9px;
 }

button {
    padding: 15px 30px;
    border: none;
    background-color: aquamarine;
    border-radius: 15px;
}
.sqrNum:hover {
    background-color: rgb(91, 228, 182);
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    width: 800px;
    height: 800px;
    align-content: flex-start;
}
.newDiv {
    width: 50px;
    height: 50px;
    transition: all .01s;
    opacity: 0;
}